.main_header {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
}

.main_header a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: 1.1rem;
}